.container {
  .wrapper {
    display: flex;

    .btn {
      padding: 1rem;
      background-color: #fff;
      border: 1px solid #5277ff;
      margin-top: 2rem;
      cursor: pointer;
      border-radius: 12px;
      box-shadow: 0 0 15px 3px rgb(0 0 0 / 12%) !important;
      transition: all 0.2s ease-in-out;
      color: #000;
      font-size: 1.1rem;
    }

    .btn:hover {
      box-shadow: 0 0 15px 3px rgb(0 0 0 / 20%) !important;
    }
  }
}

.hidden {
  display: none;
}
