.container {
  max-width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 420px) {
    width: 100%;
  }

  @media screen and (max-width: 900px) and (min-width: 451px) {
    width: 100%;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 4rem;
    margin-top: 3rem;

    @media screen and (max-width: 450px) {
      flex-direction: column-reverse;
      justify-content: center;
    }

    @media screen and (max-width: 900px) and (min-width: 451px) {
      flex-direction: column-reverse;
      justify-content: center;
    }

    .logo {
      max-width: 40%;
      margin-top: 1rem;
      margin-left: -2rem;

      @media screen and (max-width: 450px) {
        max-width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding-right: 1rem;
      }

      @media screen and (max-width: 900px) and (min-width: 451px) {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        text-align: center;
        margin-left: 0.25rem;
      }

      p {
        width: 85%;
        line-height: 1.5;
        font-size: 1rem;
        font-weight: 300;

        @media screen and (max-width: 450px) {
          width: auto;
          margin-left: 4rem;
        }

        @media screen and (max-width: 900px) and (min-width: 451px) {
          width: 70%;
        }
      }

      .icons {
        display: flex;
        align-items: center;

        @media screen and (max-width: 450px) {
          justify-content: center;
          margin-left: 2rem;
        }

        .icon {
          border-radius: 50%;
          padding: 12px;
          font-size: 1.45rem;
          margin-right: 1rem;
          cursor: pointer;
          transition: 0.3s all ease-in-out;
        }
        .icon:first-child:hover {
          color: #4267b2;
        }

        .icon:hover {
          color: #1da1f2;
        }

        .icon:last-child:hover {
          color: #c13584;
        }
      }
    }

    .categories {
      @media screen and (max-width: 450px) {
        width: 100%;
        text-align: center;
      }

      @media screen and (max-width: 900px) and (min-width: 451px) {
        width: 100%;
        text-align: center;
      }
      ul {
        list-style: none;
        padding: 0;

        li {
          line-height: 2;
        }
      }
    }

    .links {
      @media screen and (max-width: 450px) {
        width: 100%;
        text-align: center;
      }

      @media screen and (max-width: 900px) and (min-width: 451px) {
        width: 100%;
        text-align: center;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          line-height: 2;
        }
      }
    }
  }
}
