.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem; // Add padding for smaller screens
  width: 100%;

  @media screen and (max-width: 1250px) {
    width: 100%;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    flex-direction: column;

    h1 {
      font-size: 2rem; // Default font size

      @media screen and (max-width: 900px) {
        font-size: 1.6rem;
      }

      @media screen and (max-width: 420px) {
        font-size: 1.2rem;
        text-align: center; // Ensure proper alignment for smaller screens
      }
    }
  }
}
