.container {
  width: 1280px;
  margin: auto;

  @media screen and (max-width: 420px) {
    width: 100%;
  }

  @media screen and (max-width: 900px) and (min-width: 421px) {
    width: 100%;
  }

  @media screen and (min-width: 901px) and (max-width: 1200px) {
    width: 100%;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 6rem;
    padding-top: 2rem;

    @media screen and (max-width: 420px) {
      margin: 1.5rem;
    }

    @media screen and (max-width: 900px) and (min-width: 421px) {
      margin: 2rem;
    }

    @media screen and (min-width: 901px) and (max-width: 1200px) {
      margin: 2rem;
    }

    h2 {
      font-size: 2.2rem;
      font-weight: 500;

      @media screen and (max-width: 420px) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 900px) and (min-width: 421px) {
        font-size: 1.6rem;
      }

      @media screen and (min-width: 901px) and (max-width: 1200px) {
        font-size: 1.7rem;
      }
    }

    p {
      font-size: 1.1rem;
      font-weight: 300;

      @media screen and (max-width: 420px) {
        font-size: 1rem;
      }

      @media screen and (max-width: 900px) and (min-width: 421px) {
        font-size: 1rem;
      }

      @media screen and (min-width: 901px) and (max-width: 1200px) {
        font-size: 1rem;
      }
    }

    .kryptoLink {
      font-weight: 500;
      color: #5277ff;
      transition: 0.3s all ease-in-out;
      cursor: pointer;
    }
  }

  .nota {
    margin-top: 4rem;
    font-size: 0.84rem !important;
  }
}
