.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .header {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    text-align: center;

    @media screen and (max-width: 420px) {
      font-size: 1rem;
    }
  }

  .kryptoWrap {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 6%);
    padding: 1.5rem;
    margin-bottom: 2rem;

    @media screen and (max-width: 420px) {
      padding: 1.5rem;
    }

    .kryptoHeader {
      display: flex;
      align-items: center;
      justify-content: center;

      h2 {
        margin-left: 1rem;
        font-size: 2rem;
        color: #4b5661;

        @media screen and (max-width: 420px) {
          font-size: 1.2rem;
        }

        span {
          color: #5277ff;
        }
      }
    }

    .kryptoChanges {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      @media screen and (max-width: 420px) {
        flex-direction: column;
      }

      .kryptoChange {
        background-color: #eef2ff;
        padding: 0.75rem 2.95rem;
        margin-right: 0.95rem;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (max-width: 420px) {
          margin-top: 1rem;
        }

        p {
          font-size: 1.15rem;
          margin-bottom: 1.75rem;
        }

        .kryptoChangeProc {
          padding: 0.6rem 1.5rem;
          border: 1px solid #4b5661;
          border-radius: 25px;

          p {
            margin: 0;
            font-weight: 500;
          }
        }
      }
    }

    .chartHeader {
      display: flex;
      width: 950px;
      margin-bottom: 2rem;

      @media screen and (max-width: 420px) {
        width: auto;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;

        h3 {
          font-size: 1.5rem;
          margin-left: 0.5rem;

          @media screen and (max-width: 420px) {
            font-size: 1.2rem;
            margin-left: 0.25rem;
          }
        }
      }
    }

    .chartKrypto {
      .chartInfo {
        display: flex;
        justify-content: space-between;

        p {
          font-size: 1.35rem;
          font-weight: 700;
          margin-bottom: 2rem;

          @media screen and (max-width: 420px) {
            font-size: 1.1rem;
            margin-left: 0.5rem;
          }
        }

        p:first-child {
          margin-left: 2rem;
          @media screen and (max-width: 420px) {
            margin-left: 0.5rem;
          }
        }

        p:last-child {
          margin-right: 2rem;

          @media screen and (max-width: 420px) {
            margin-left: 0.5rem;
          }
        }
      }
    }

    .kryptoFaktyHeader {
      margin-bottom: 2rem;
      align-items: center;

      div {
        display: flex;
        flex-direction: row;
        align-items: center;

        h3 {
          margin-left: 1rem;
        }
      }

      @media screen and (max-width: 420px) {
        width: auto;
      }
    }

    .kryptoFakty {
      line-height: 1.5;
      padding: 0 1.25rem;
      width: 950px;

      @media screen and (max-width: 420px) {
        padding: 0 0.5rem;
        width: auto;
      }

      .kryptoInfo {
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 420px) {
          flex-direction: column;
          margin-bottom: 2rem;
        }

        .kryptoInfoCard {
          background-color: #eef2ff;
          margin-right: 2rem;
          width: 30%;
          padding: 1.5rem;
          margin-top: 2rem;
          text-align: center;
          box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 6%);
          border-radius: 16px;

          @media screen and (max-width: 420px) {
            width: 80%;
            margin-right: 0;
          }

          h4 {
            margin: 0;
            font-size: 1rem;
          }
          p {
            font-size: 1.3rem;
            font-weight: 900;
          }
        }
      }
    }
  }
}

.kryptoButtons {
  width: 1000px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;

  @media screen and (max-width: 420px) {
    margin-left: 2rem;
  }

  .wroc {
    background-color: #fff;
    padding: 0.4rem 1.75rem;
    font-size: 1rem;
    border: 1px solid #5277ff;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s all ease-in-out;
    margin-left: 1rem;
    font-weight: 700;
  }

  .wroc:hover {
    background-color: #5277ff;
    color: #fff;
  }
}
