.container {
  background: #f2f5f8;
  padding-bottom: 4rem;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 8rem;
}
