.container {
  max-width: 1400px !important;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 8rem;

  @media screen and (max-width: 420px) {
    width: 100%;
  }

  @media screen and (max-width: 900px) and (min-width: 421px) {
    width: 100%;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin: auto;

    @media screen and (max-width: 420px) {
      grid-template-columns: 1fr;
      grid-gap: 1rem;
    }

    @media screen and (max-width: 900px) and (min-width: 421px) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 0.35rem;
    }

    @media screen and (min-width: 901px) and (max-width: 1200px) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 0.5rem;
    }

    .moreCard {
      display: flex;
      justify-content: center;

      @media screen and (min-width: 981px) {
      }
      h4 {
        margin-bottom: 0.75rem;
        margin-left: 0.4rem;
        font-weight: 700;
        font-size: 0.8rem;

        @media screen and (max-width: 420px) {
          font-size: 0.6rem;
        }

        @media screen and (max-width: 900px) and (min-width: 421px) {
          font-size: 0.8rem;
        }
      }

      .moreImg {
        border-radius: 20px;
        overflow: hidden;
        cursor: pointer;
        border: 10px solid #fff;
        box-shadow: 0 0 25px 3px rgb(0 0 0 / 8%);
        transition: 0.2s all ease-in;
        position: relative;
        @media screen and (max-width: 420px) {
          max-width: 360px;
          height: 300px;
        }

        @media screen and (max-width: 900px) and (min-width: 421px) {
          max-height: 300px;
          max-width: 300px;
        }

        .imgWrapper {
          width: 400px;
          height: 300px;

          @media screen and (max-width: 420px) {
            max-width: 360px;
            height: 300px;
          }
        }

        .feature {
          position: absolute;
          width: 100%;

          bottom: 0;
          padding-left: 0.225rem;
          color: #fff;
          background-color: rgba(0, 0, 0, 0.6);

          @media screen and (max-width: 420px) {
            padding-left: 0.25rem;
          }
        }
      }

      .moreImg:hover {
        border: 10px solid #5277ff;
      }

      h5 {
        margin-left: 0.3rem;
        margin-top: 0.25rem;
        font-weight: 300;
        font-size: 1.1rem;

        @media screen and (max-width: 420px) {
          font-size: 0.9rem;
        }

        @media screen and (max-width: 900px) and (min-width: 421px) {
          font-size: 0.95rem;
        }
      }
    }
  }
}
