.container {
  width: 100%;
  background-color: #232329;
  height: auto;
  margin-bottom: 8rem;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem 2rem;
    margin: 0 4rem;

    h2 {
      color: #fff;
      margin-top: 3rem;
      margin-bottom: 2rem;
      font-weight: 700;
      font-size: 1.8rem;
      color: #5277ff;
    }

    .poradnikWrap {
      display: flex;
      flex-direction: row;
      color: #fff;
      margin-bottom: 2rem;

      .poradnikCard {
        position: relative;
        margin: 2rem 1.4rem;
        transition: 0.3s all ease-out;
        border-radius: 20px;
        overflow: hidden;

        .poradnikHeader {
          position: absolute;
          width: 100%;
          top: 14.4rem;

          background-color: rgba(0, 0, 0, 0.6);

          h3 {
            font-size: 1.1rem;
            font-weight: 500;
            padding-left: 0.6rem;
          }
        }
      }

      .poradnikCard:hover {
        color: #5277ff;
        cursor: pointer;
      }
    }
  }
}
