.container {
  width: 100%;
  background-color: #232329;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem 2rem;
    margin: 0 4rem;
    width: 1280px;

    @media screen and (max-width: 420px) {
      width: 100%;
      margin: 0 0.5rem;
    }

    @media screen and (max-width: 900px) and (min-width: 421px) {
      width: 100%;
      margin: 0 0.5rem;
    }

    @media screen and (min-width: 901px) and (max-width: 1200px) {
      width: 100%;
      margin: 0 0.5rem;
    }

    h2 {
      color: #fff;
      margin-top: 3rem;
      margin-bottom: 2rem;
      font-weight: 500;
      font-size: 1.8rem;
      color: #fff;
      text-decoration: underline;
      text-decoration-color: #ffa052;

      @media screen and (max-width: 420px) {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        font-size: 1.35rem;
      }

      @media screen and (max-width: 900px) and (min-width: 421px) {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 1.5rem;
      }

      @media screen and (min-width: 901px) and (max-width: 1200px) {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 1.7rem;
      }
    }

    .poradnikWrap {
      display: flex;
      flex-direction: row;
      color: #fff;
      margin-bottom: 2rem;

      @media screen and (max-width: 420px) {
        flex-direction: column;
      }

      @media screen and (max-width: 900px) and (min-width: 421px) {
        flex-direction: column;
      }

      .poradnikCard {
        position: relative;
        margin: 2rem 1.4rem;
        transition: 0.3s all ease-out;
        border-radius: 12px;
        overflow: hidden;

        @media screen and (max-width: 420px) {
          margin: 0;
          margin-bottom: 0.85rem;
          margin-top: 0.85rem;
        }

        @media screen and (max-width: 900px) and (min-width: 421px) {
          margin: 0;
          margin-bottom: 0.85rem;
          margin-top: 0.85rem;
        }

        .poradnikHeader {
          position: absolute;
          width: 100%;
          top: 12.8rem;

          @media screen and (max-width: 420px) {
            top: 10.3rem;
          }

          @media screen and (max-width: 900px) and (min-width: 421px) {
            top: 14.15rem;
          }

          @media screen and (min-width: 901px) and (max-width: 1350px) {
            top: 0;
          }

          background-color: rgba(0, 0, 0, 0.6);

          h3 {
            font-size: 1.1rem;
            font-weight: 300;
            padding-left: 0.6rem;
          }
        }
      }

      .poradnikCard:hover {
        color: #5277ff;
        cursor: pointer;
      }
    }
  }
}
