.container {
  max-width: 1280px;
  margin: auto;
  margin-bottom: 8rem;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 6rem;
    margin-bottom: 2rem;

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      margin-left: 6rem;
      margin-bottom: 2rem;

      @media screen and (max-width: 450px) {
        margin-left: 3rem;
      }

      .icon {
        font-size: 1.9rem;
        margin-right: 0.7rem;
        color: #ffa052;
      }

      h2 {
        font-size: 1.85rem;
        @media screen and (max-width: 450px) {
          font-size: 1.7rem;
        }
      }
    }

    .statCards {
      display: flex;
      flex-direction: row;

      @media screen and (max-width: 420px) {
        flex-direction: column;
      }

      @media screen and (max-width: 900px) and (min-width: 421px) {
        flex-direction: column;
      }

      .statCard {
        background-color: #fff;
        padding: 2.5em 2.75rem;
        border-radius: 30px;
        margin-right: 1.4rem;
        border: 1px solid #5271ff;
        box-shadow: 0 0 25px 3px rgb(0 0 0 / 4%);
        transition: all 0.3s ease-in-out;

        @media screen and (max-width: 420px) {
          margin-bottom: 1rem;
          margin-right: 0;
        }

        @media screen and (max-width: 900px) and (min-width: 421px) {
          margin-bottom: 2rem;
        }

        @media screen and (min-width: 901px) and (max-width: 1050px) {
          padding: 1.5rem 1.5rem;
        }

        h2 {
          font-size: 1.1rem;
          font-weight: 700;
          margin: 0;

          @media screen and (max-width: 420px) {
            font-size: 1rem;
          }
        }

        p {
          font-size: 1.15rem;
          font-weight: 700;
          color: #5271ff;

          @media screen and (max-width: 420px) {
            font-size: 1rem;
          }
        }
      }

      .statCard:hover {
        box-shadow: 0 0 25px 3px rgb(0 0 0 / 14%);
      }
    }
  }
}
